.top-container{
    padding-top: 20px;
    height: 18%;
    display: flex;
}

.membersContainer {
    margin-left: 10px;
    padding-top: 15px;
    width: 300px;
    height: 75px;
    color: white;
    font-size: 15px;
    text-align: center;

    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.menu-container {
    padding-top: 50px;
    display:inline-block;
}

#menuOptions {
    font-weight: bold;
    font-size: 28px;
    width: 250px;
    padding: 40px;
    margin: 40px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.background{
    background-image: url('https://s7.gifyu.com/images/airplane-_online-video-cutter.com__1.gif');
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;
}